body {
    margin: 0px;
}
  
.container{height: 70vh;}

.box{
    padding:25px;
    text-align: center;
    color: white;
}
        
#box1{
    background-color: teal;
    height:10vh;

}

#box2{
    background-color: rgb(30, 146, 107);
    float:left;
    height:40vh;
    width:10vh;

}
        
#box3{
    background-color: rgb(115, 202, 173);
    height:40vh;

}
        
#box4{
    background-color: rgb(21, 109, 80);
    height:10vh;

}